<div class='container-fluid'>
    <div class='col-xs-12 bg-primary header'>
        <h1 class='text-center col-xs-12 col-md-6'>Rails Against The Machine</h1>
        <div class='col-md-offset-11'>
            <%= link_to 'Login', '/login', :class => 'btn btn-default' %>
            <%= link_to 'Signup', '/signup', :class => 'btn btn-default' %>
        </div>
    </div>

    <div class='home-body text-center'>
        <h2 class='text-center'>About This Project</h2>
            <div class='card col-sm-offset-3 col-sm-6'>
                <p>I created rails against the machine to help people become more active in the political process,<br>
                 with quick access to contact information for your House and Senate representatives.</p>
            </div>
        <br>    
        <h2 class='text-center'>Using This Project</h2>
            <div class='card col-sm-offset-3 col-sm-6'>
                <h3>Getting started is easy!</h3><br>
                 <h4>1. simply click the signup link,<br>
                     2. create an account<br>
                     3. access your personal dashboard.<br>
                   <br>
                   <br>
                    From your dashboard you can see information based on your address!</h4>
            </div>
    </div>

</div>